# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Avoid committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock
.vscode/settings.json
.DS_Store
packages/dartantic_ai/example/.env
ai_notes

# Build artifacts
build/
.flutter-plugins
.flutter-plugins-dependencies

# ObjectBox binaries
download/
*.dylib
*.so
*.dll
